body{
    
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.about-text .content .social-icons i {
    font-size: 22px;
    margin-right: 20px;
  }
  
  .about-text .content .social-icons a {
      color:white;
  }
  #about .about-text{
      width: 50%;
  }
  
